<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE web-app
    PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
    "http://java.sun.com/dtd/web-app_2_3.dtd">
<!--
 Licensed to the Apache Software Foundation (ASF) under one or more
 contributor license agreements.  See the NOTICE file distributed with
 this work for additional information regarding copyright ownership.
 The ASF licenses this file to You under the Apache License, Version 2.0
 (the "License"); you may not use this file except in compliance with
 the License.  You may obtain a copy of the License at

     http://www.apache.org/licenses/LICENSE-2.0

 Unless required by applicable law or agreed to in writing, software
 distributed under the License is distributed on an "AS IS" BASIS,
 WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 See the License for the specific language governing permissions and
 limitations under the License.
-->
<web-app>

<!-- For stand-alone search, use the following -->
<servlet>
  <servlet-name>OpenSearch</servlet-name>
  <servlet-class>org.archive.tnh.servlet.OpenSearchServlet</servlet-class>
  <init-param>
    <param-name>index</param-name>
    <param-value></param-value>
  </init-param>
  <init-param>
    <param-name>segments</param-name>
    <param-value></param-value>
  </init-param>
  <load-on-startup>1</load-on-startup>
</servlet>

<servlet>
  <servlet-name>Diagnostics</servlet-name>
  <servlet-class>org.archive.tnh.servlet.DiagnosticServlet</servlet-class>
</servlet>

<servlet-mapping>
  <servlet-name>Diagnostics</servlet-name>
  <url-pattern>/info</url-pattern>
</servlet-mapping>

<!-- For metasearch, use the following: -->
<!--
<servlet>
  <servlet-name>OpenSearch</servlet-name>
  <servlet-class>org.archive.tnh.servlet.MetaOpenSearchServlet</servlet-class>
  <init-param>
    <param-name>remotes</param-name>
    <param-value>remotes.txt</param-value>
  </init-param>
  <load-on-startup>1</load-on-startup>
</servlet>
-->

<!-- The rest is the same for both OpenSearch and MetaOpenSearch -->

<filter>
  <filter-name>Cache Settings</filter-name>
  <filter-class>org.archive.tnh.servlet.CacheSettingsFilter</filter-class>
  <init-param>
    <param-name>max-age</param-name>
    <param-value>259200</param-value>  <!-- 72 hours (in seconds) -->
  </init-param>
</filter>

<filter>
  <filter-name>XSLT Filter</filter-name>
  <filter-class>org.archive.tnh.servlet.XSLTFilter</filter-class>
  <init-param>
    <param-name>xslt</param-name>
    <param-value>search.xsl</param-value>
  </init-param>
</filter>

<servlet-mapping>
  <servlet-name>OpenSearch</servlet-name>
  <url-pattern>/search</url-pattern>
</servlet-mapping>

<servlet-mapping>
  <servlet-name>OpenSearch</servlet-name>
  <url-pattern>/opensearch</url-pattern>
</servlet-mapping>

<filter-mapping>
  <filter-name>Cache Settings</filter-name>
  <servlet-name>OpenSearch</servlet-name>
</filter-mapping>

<filter-mapping>
  <filter-name>XSLT Filter</filter-name>
  <url-pattern>/search</url-pattern>
</filter-mapping>

<!-- For requests to be redirected from / to /search, we need the following set
     for the default servlet in Jetty's etc/webdefault.xml
       welcomeServlet   true
       redirectWelcome  true
  -->
<welcome-file-list>
  <welcome-file>search</welcome-file>
</welcome-file-list>

</web-app>
